body{
    color: rgb(230, 245, 245);
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
header{
    background-color: rgb(173, 173, 173);
    text-align: center;
    padding: 35px;
    border-radius: 15px;
}
footer{
    text-align: center;
}
.imagem{
    text-align: center; }

.imagem{ 
        text-align: center;
    }